html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    max-height:100%;
    background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("bg.jpg");
    background-size:cover;
    font-family:Source Sans Pro,Arial;
}
#main{
    position: relative;
    background-color:#ffffff;
    height:530px;
    width:500px;
    border-radius:4px;
    overflow:hidden;
}

.top{
    display:flex;
    justify-content: center;
    padding-top:80px;
}
.top img{
    height:130px;
    border-radius: 100%;
    margin-bottom:30px;
}
#content{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
#content h1, #content h3{
    text-align:center;
    opacity:0.75;
   
    letter-spacing:1.3pt;
}
#content h1{ 
    font-size:34px; 
    font-weight:bold;
    font-weight:300;
    margin-bottom:23px;
}
#content h3{ 
    font-weight:200;
    font-size:20px; 
}
.soon{
    margin-top:40px;
    font-size:14px!important;
    font-weight:400!important;
}
footer{
    width:100vw;
    max-width:100%;
    color:rgba(255, 255, 255, 0.75);
    position:absolute;
    text-transform: uppercase;
    letter-spacing:1.4pt;
    font-weight:100;
    bottom:30px;
    text-align:center;
    
}
.font-med{
    font-size:18px;
}

@media screen and (max-width : 1020px){ 
    #wrapper{
        display:block;
        background-image:none;
        padding-top:40px;
    }
    #main{
        width:100vw;
        min-height:100%;
    }
    .top{
        display:block;
    }
    .top img{
        height:50vw;
        margin-left:25%;
    }
    #content h1{ 
    font-size:34px; 
    font-weight:bold;
    font-weight:300;
    margin-bottom:23px;
    }
    #content h3{ 
        font-weight:200;
        font-size:20px; 
    }
    .soon{
        margin-top:40px;
        font-size:14px!important;
        font-weight:400!important;
    }
}
   
