.example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body, html{
    overflow-x: hidden;
}
.font-med{
    font-size:18px;
}
.wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
#section-wrapper{
    height:100vh;
    max-height:100%;
    font-family:Source Sans Pro,Arial;
    width:100vw;
    max-width:100%;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}
.section{
    background-color:red;
    height:100vh;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}
#menu{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left:0;
    top:0;
    bottom:0;
    background-color:#ffffff;
    font-family:Source Sans Pro,Arial;
    height:100vh;
    width:370px;
    border-radius:4px;
    overflow:hidden;
    z-index:10;
    
}
.menu-position{
    width:370px;
    left:0;
    top:0;
    position:fixed;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#tag{
    font-weight:bold;
    font-size:3em;
    text-transform: uppercase;
    color:#eee;
    letter-spacing: 1.2pt;
}
.tag-container{
    margin-left:370px;
}
.tag-small{
    font-weight:200;
    font-size:2em;
    text-transform: uppercase;
    color:#eee;
}
.top{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top:80px;
}
.top img{
    height:130px;
    border-radius: 100%;
    margin-bottom:30px;
}
#menu-content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#menu-content h1, #menu-content h3{
    text-align:center;
    opacity:0.75;
    
}
#menu-content h1{ 
    letter-spacing:1.3pt;
    font-size:34px; 
    font-weight:bold;
    font-weight:300;
    margin-bottom:5px;
}
#menu-content h3{ 
    letter-spacing:0.7pt;
    font-weight:200;
    font-size:20px; 
}
ul{
    margin-top:40px;
    padding-right:35px;
    list-style:none;
}
ul li{
    width:100%;
    opacity:0.7;
    padding:10px 0 10px 20px;
    cursor:pointer;
    text-align:right;
}
ul li:nth-child(1){
    padding-top:20px;
}
ul li:hover{
    opacity:1;
}

#section-one{
   background-image: -webkit-linear-gradient(30deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("bg.jpg");
   background-image: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("bg.jpg");
   color:#eee;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}
#one-content{
    line-height:36px;
}
#one-content h1{
    text-transform: uppercase;
    letter-spacing: 1.2pt;
    font-size:3em;
    font-weight: bold;
    margin-bottom:22px;
}
#one-content h3{
    font-weight:200;
    font-size:2em;
}

#section-two{
background-image: -webkit-linear-gradient(300deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("bsg.jpg");
background-image: -o-linear-gradient(300deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("bsg.jpg");
background-image: linear-gradient(30deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("bsg.jpg");
   color:#eee;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}
@media screen and (max-width:960px){
    #main{
        width:240px;
    }
    .menu-position{
        width:240px;
    }
    span.top{
        display:none;
    }
    #menu{
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        -webkit-box-align:center;
            -ms-flex-align:center;
                    -ms-grid-row-align:center;
                align-items:center;
    }
    img{
        display:none;
    }
    #menu{
        width:180px;
    }
    #menu-content{
        width:180px;
    }
    #menu-content h1{
        text-align:right;
        font-size:24px;
        padding-right:10px;
        margin-bottom:30px;
        width:180px;
        font-weight:400;
        line-height:24px;
    }
    #menu-content h3{
        text-align:right;
        padding-right:10px;
    }
}
@media screen and (max-width:660px){
  #one-content{
      width:240px;
  }
  #one-content h1{
      line-height:46px;
  }
}
@media screen and (max-width:520px){
    #one-content{
      width:170px;
  }
    #one-content h1{
      font-size:32px;
      line-height:32px;
  }
   #one-content h3{
      font-size:22px;
      line-height:22px;
  }
}
@media screen and (max-width:400px){
  #menu{
      display:none;
  }
  h1,h3{
      color:#222;
  }
}